

#Form{
    align-self: flex-end;
}

nav{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    display: table;
}

.flexCon{
    display: flex;
    background-color: #000;
    color: grey;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Sandwich{
    display: none;
}

.burger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    appearance: button;
}

.bar {
    background: #000;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
}

/* Анимация для открытого состояния */
.burger-button.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-button.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-button.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -4px);
}

.hided{
    display: flexbox;
    gap: 20px;
    justify-content: space-between;

}

.buttonTop{
    color: grey;
    text-decoration: none;
}

.hide{
    margin-left: 30px;
}


@media (max-width: 800px) {
    .hide{
        display: none;
    }
  }


/*------------------------------- First block -------------------------------*/

